In [1]:
import pandas as pd

df = pd.read_csv('eye_cancer_patients.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Patient_ID            5000 non-null   object
 1   Age                   5000 non-null   int64
 2   Gender                5000 non-null   object
 3   Cancer_Type           5000 non-null   object
 4   Laterality            5000 non-null   object
 5   Date_of_Diagnosis     5000 non-null   object
 6   Stage_at_Diagnosis    5000 non-null   object
 7   Treatment_Type        5000 non-null   object
 8   Surgery_Status        5000 non-null   bool
 9   Radiation_Therapy     5000 non-null   int64
 10  Chemotherapy          5000 non-null   int64
 11  Outcome_Status        5000 non-null   object
 12  Survival_Time_Months  5000 non-null   int64
 13  Genetic_Markers       2503 non-null   object
 14  Family_History        5000 non-null   bool
 15  Country               5000 non-null   object
dtypes: bool(2), int64(4), object(10)
memory usage: 556.8+ KB

In [3]:
df.tail()

,Patient_ID,Age,Gender,Cancer_Type,Laterality,Date_of_Diagnosis,Stage_at_Diagnosis,Treatment_Type,Surgery_Status,Radiation_Therapy,Chemotherapy,Outcome_Status,Survival_Time_Months,Genetic_Markers,Family_History,Country
4995,PID04996,63,M,Retinoblastoma,Left,2022-09-18,Stage III,Surgery,False,38,13,Active,34,BRAF Mutation,False,USA
4996,PID04997,43,M,Lymphoma,Right,2022-03-02,Stage I,Chemotherapy,False,70,9,Active,27,NaN,False,Australia
4997,PID04998,88,Other,Lymphoma,Left,2024-04-09,Stage I,Radiation,False,48,20,Active,71,NaN,True,USA
4998,PID04999,34,Other,Melanoma,Bilateral,2021-01-15,Stage III,Surgery,False,61,1,In Remission,30,BRAF Mutation,False,South Africa
4999,PID05000,43,M,Retinoblastoma,Bilateral,2024-08-02,Stage II,Chemotherapy,True,22,7,Active,109,NaN,False,Germany